html{
    height: 100%;
    background: radial-gradient(circle, #fff,#ccc); 
}

#contain{
    height: 500px;
    width: 600px;
    background-color: #9DD2EA;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
   -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
    
}
#score{
    background-color: #F1FF92;
    color: #888E5F;
    padding: 10px;
    
    position: absolute;
    left: 550px;
    box-shadow: 0px 4px 0px #9da853;
}
#correct{
    position: absolute;
    left: 300px;
    background-color: #42e252;
    color: white;
    padding: 11px;
    display: none;
}
#wrong{
    position: absolute;
    left: 250px;
    background-color: red;
    color: white;
    padding: 11px;
    display: none;
}
#ques{
    width: 500px;
    height: 170px;
    margin: 100px auto 20px auto;
    background-color: #9DA0EA;
    box-shadow: 0px 4px #535aa8;
    font-size: 120px;
    text-align: center;
    
    font-family: cursive,sans-serif;
    
    
}
#inst{
    width: 500px;
    height: 60px;
    background-color: #B481D9;
    margin: 10px auto;
    text-align: center;
    line-height: 50px;
    box-shadow: 0px 4px #8153a8;
    
}
#choice{
    height: 100px;
    width: 500px;
    margin: 10px auto;
}
.box{
    width: 85px;
    height: 85px;
    background-color: white;
    float: left;
    margin-right: 53px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px grey;
    text-align: center;
    line-height: 80px;
    position: relative;
   -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -o- transition: all 0.2s;
      -ms-transition: all 0.2s;
}
.box:hover, #start:hover{
    background-color: #8153a8;
    color: white;
    box-shadow: 0px 4px #6b54d3;
}

.box:active, #start:active{
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
    
}
#box4{
    margin-right: 0px;
}
#start{
            width: 78px;

    background-color: rgba(255,255,255,0.5);
   padding: 10px;
    
    margin: 0px auto;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px grey;
    text-align: center;
    
    position: relative;
   -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -o- transition: all 0.2s;
      -ms-transition: all 0.2s
    

}
#timeleft{
    width: 200px;
    padding: 10px;
    position: absolute;
    top: 490px;
    left: 400px;
    background-color: rgba(181, 235, 36, 0.78);
    border-radius: 3px;
    box-shadow: 0px 4px grey;
    /*visibility: hidden; */
   display: none ;
}
#gameover{
    height: 200px;
    width: 500px;
    background: linear-gradient(#F3CA6B, #F3706C);
    color: white;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 150px;
    left: 70px;
    z-index: 2;
    display: none;
}

